* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(194, 190, 188);
}
.container {
  background:linear-gradient(150deg,rgba(174, 225, 245, 1) 0%, rgba(63, 121, 166, 1) 44%, rgba(35, 77, 122, 1) 88%);
  width: 300px;
  height: 400px;
  border-radius: 20px;
}

.search-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.search-box input {
  border: 40px;
  padding: 15px;
  border-radius: 50px;
  background-color: rgb(115, 243, 115);
}

.container .search-btn {
  border-radius: 50px;
  background-color: rgb(115, 243, 115);
  border: none;
}

.search-btn svg {
  height: 20px;
  width: 45px;
}

.weather-icon {
  height: 100px;
  width: 100px;
  margin: 20px 50px 0px;
}

.weather > h1 {
  color: white;
  text-align: center;
  padding: 2px;
}

#city {
    font-size: 17px;
}
.other-text {
  color: white;
  font-size: 15px;
}

.others img {
  width: 40px;
  height: 40px;
}

.others {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.other-1,
.other-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.other-1 {
    margin-right: 45px;
}
#humidity,
#wind {
  color: white;
  text-align: center;
}
